% A snippet to insert a begin end equation
% Insert a \textit command, or surround any selected text with \textit
ctrl key = e
group = Environment
insert at cursor =
\begin{equation}
  <SELECTION>
\end{equation}
